body{
  display: block;
  overflow: hidden;
}
.MenuBar{
  display: none;
  z-index: 9999;
  position: absolute;
  width:45%;
  height: 100%;
  left:0;
  overflow: hidden;
  background-color: #fff;
}
.MainBar{
  position: absolute;
  width=100%;
  /* width:85%; */
  height: 88%;
  right:0;
}
.SideBar{
  position: absolute;
  height: 12%;
  width=100%;
  /* width: 85%; */
  bottom: 0;
  right:0;
  overflow: hidden;
}

#quote-container{
  height:30%;
  top:2%;
}
.myQuote{
  padding-left: 2em;
  padding-right: 2em;
}
.myQuote q{
  /* font-size: 2.2em; */
  font-size: 0.8em;
  width: 100%;
}
.client{
  /* font-size: 1.8em; */
  font-size: 0.6em;
}
.work-content{
  grid-template-columns: 1fr;
}
div.box{
  height:200px;
  width: 100%;
}
.box .workImg2{
  position: absolute;
}
.box video{
  width: 100%;
  height: auto;
}
.box:hover video{
  transition: 0;
  -webkit-filter: blur(0);
  filter: blur(0);
}
.box .project-title2{
  width: 50%;
  opacity: 1;
  background: linear-gradient(to right, rgba(15,15,15,1), rgba(15,15,15,0));
}
.box:hover .project-title2{
  transition: 0;
  background: linear-gradient(to right, rgba(15,15,15,1), rgba(15,15,15,0));
}
.project-title2 h3{
  left: 5%;
  bottom: -5%;
  font-size:1.5em;
}
#myBtnContainer{
  top:7.5%;
  /* width: 85vw; */
  padding-bottom: 0;
}

.btn{
  padding-top: 7.5%;
  padding-bottom:6%;
  padding-left:2%;
  padding-right:2%;
  display: inline;
  font-size: 0.7em;
}
.btn.active{
  background:var(--CR-red);
  border-radius: 0 0 7px 7px;
}
.checkmark{
  left:43%;
  top:-12px;
  height: 0;
  width: 0;
}
.CR_logo{
  bottom:3%;
  width: 100%;
}
.copyright{
  transform: rotate(90deg);
  height: 220%;
  right:12%;
  bottom: -90%;
}
.ig-logo,.twitter-logo,.fb-logo,.ytube-logo{
  position: absolute;
  width: 5%;
  bottom:12%;
}
.ig-logo{left:12.5%;}
.twitter-logo{left:20%;}
.ytube-logo{left:27.5%;}

.topnav{
  top:10%;
  margin: 0;
}
.topnav a{
  text-align: center;
  height: 15%;
  width: 100%;
  line-height: 3.3em;
  padding-right: 0;
  font-size: 4.5vw;
}
a.menu{
  border:4px white;
  color: #808080;
  background: #d0d0d0;
  border-style: solid none none none ;
}
a.menu.active{
  border: 4px  white;
  background: var(--CR-red);
  color:white;
  border-style: solid none none none ;
}
a.menu:hover{
  border:4px white;
  color: #808080;
  background: #d0d0d0;
  border-style: solid none none none ;
}
.content2{
  overflow: hidden;
}
.CR_fish{
  width: 115%;
  left:-12%;
  top:2%;
}
.CR_guy{
  width: 100vw;
  left:-5%;
  top:2%;
  z-index: -99;
}
.hashtag{
  width:0;
  height:0;
}
/* .who_text{
  width:0;
  height:0;
} */
.who_text{
  top:65%;
  width:100%;
}
.who_copy{
  width: 100%;
  left: 0;
  font-size: 1em;
  top: 63%;
}
.hashtag_m{
  width: 100%;
  height: 100%;
  top: -1%;
}
/* .who_text_m{
  width: 50vw;
  height: 100%;
  top: 20%;
  right:20px;
} */
.how_bg{
  height: 80%;
  object-position: 150px 0;
  position: absolute;
  top: 3%;
}
.box2.how{
  background: var(--CR-red);
}
.how_text1_m{
  width: 95%;
  height: 100%;
  top: -35%;
  left:2.5%;
  z-index: 999;
}
.how_text2{
  width: 62%;
  right:5%;
  top:58%;
  z-index: 998;
}
.how_text3{
  width:0;
  height:0;
}
.how_text3_m{
  width: 90%;
  z-index: 998;
  left: 5%;
  height: 100%;
  top: 40vw;
}
.how_bg{
  object-position: 32.5% 0;
}
.why_bg{
  position: absolute;
  width: 150vw;
  object-position: 0 -12.5vw;
}
.why_text1{
  left:3%;
  width: 100%;
  top:52%;
}
.why_text2{
  width:0;
  height: 0;
}
.why_text2_m{
  width:70%;
  height: 100%;
  top:20%;
  right:3%;
}
.what_bg{
  width: 0;
  height: 0;
}
.what_bg_m{
  width: 100%;
  height: 100%;
  top:-8.5%;
}
#mapDiv{
  width: 85%;
  height: 50%;
  left:7.5%;
  top:30%;
}
.contact_bg{
  object-position: 32.5vw -2.5vh;
  width: 250vw;
}
.contact_text1_m{
  width: 45%;
  left: 50%;
  top:18.5%;
  z-index: 999;
}
.contact_text1{
  width: 0;
  height:0;
}
.contact_text2{
  width: 0;
  height:0;
}
.contact_text2_m{
  width: 80%;
  left:10%;
  top:35%;
  height: 100%;
  z-index: 99;
}
.project.header{
  padding-top: 5%;
  grid-template-columns: 1fr;
  height: 60%;
}
.project.title{
  position: relative;
  width:80%;
  left:20%;
}
.project p.title{
  position: relative;
  right: 1%;
  font-size: 2.2em;
  text-align: right;
  padding-left: 1%;
}

.project.video iframe{
  width: 100%;
  height: 100%;
}
.project.text{
  font-size: 12pt;
  height: auto;
  padding-bottom:5%;
}
#photos{
  height: auto;
  -webkit-column-count:1;
  -moz-column-count:1;
  column-count:1;
}
.intro-CR_fish{
  width: 150%;
  left:-5%;
  top:10%;
}
.intro-hashtag_m{
  width: 100%;
  left:0;
  top:55%;
}
.intro-hashtag_m_2{
  width: 0;
}
.toggle{
  display: block;
}
.slider{
  position: relative;
  display: block;
  background-color: rgba(0,0,0,0.5);
  width: 64px;
  height: 32px;
  border-radius: 32px;
  border: 3px;
  border-color: #fff;
}
.slider:before{
  content: "";
  position: absolute;
  height: 28px;
  width:28px;
  background-color: #fff;
  background-image: url('/Imgs/mobile_menu_icon.svg');
  top:2px;
  left:2px;
  border-radius: 32px;
  transition: 0.4s;
  -webkit-transition:0.4s;
  -moz-transition:0.4s;
}
input:checked + .slider:before{
  transform: translateX(32px);
  background-color: var(--CR-red);
  background-image: url('/Imgs/mobile_menu_icon_close.svg');
}
