.index-content{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.workImg{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.box figure:hover figcaption{
  top:60%;
}
.project-title h3{
  font-size: 1em;
}
.logo img{
  height: 5em;
}
.header-separator{
  background: white;
  height:6em;
}
.topnav{
  height: 100%;
  width: 100vw;
}
#header{
  background: white;
}
.topnav a:not(:first-child) {
  display: none;
}
.topnav a.icon {
    margin-top: 1.25em;
    margin-right: 1.5em;
    float: right;
    display: block;
    color: var(--CR-red);
    padding: 3px;
    border-radius: 6px;
  }
.topnav.responsive {
}
.topnav.responsive .icon {
      color: white;
      background-color: var(--CR-red);
      padding: 3px;
      border-radius: 6px;
    }
.topnav.responsive a.menu {
      display: block;
      position: relative;
      /* left:2.5em; */
      padding-right: 1em;
  	  width:100vw;
      text-align: right;
      border-radius: 0;
      margin-top: 0;
      margin-left: 100em;
      background-color: var(--CR-black);
      color: white;
    }

#footer{
  font-size: 12px;
}

.about1{
  font-size: 16vw;
  /* background-position: 250% 33%; */
  background-position: -10vw 45vw;
  padding-top: 0;
  height: 70vw;
}
.aa{
  font-size: 20%;
  padding-top: 2em;
}
.about2{
  height: 100vw;
}
.ab{
  padding-top: 5vw;
  padding-left: 2vw;
}
.ac{
  padding-left: 50vw;
}
.ad{
  font-size: 3vw;
  padding-left: 35vw;
  padding-top: 45vw;
}
.ae{
  width: 60vw;
  font-size: 3vw;
  padding-left: 35vw;
}
.about3{
  background-position:  -7vw 29vw;
  background-size: 180% auto;
  height: 180vw;
}
.af{
  padding-top: 85vw;
  padding-left: 5vw;
}
.ag{
  padding-left: 5vw;
  font-size: 30vw;
}
.ah{
  padding-left: 65vw;
  font-size: 8.5vw;
  /* top:-1.5em; */
}
.ai{
  padding-left: 5vw;
}
.about4{
  height: 100vw;
  background-position: -30vw 2vw;
}
.aj{
  padding-top: 75vw;
  padding-left: 55vw;
}
.about5{
  height: 50vh;
  background-size: 120%;
  background-position: 50% 85%;
}
.contact{
  padding-top: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
#mapDiv{
  width: 60vw;
  height: 60vw;
  border-radius: 15px;
  position: relative;
  top:-7vw;
  left:20vw;
}
.contact-info{
  top:2em;
  padding-left: 0;
  text-align: center;
  width: 100vw;
  height: 55vw;
  font-size: 5vw;
}
.site{
background-position: center 12vw;
}
.modal-content{
  top: 20vh;
}
.project-content{
  grid-template-columns: [c1] 1fr [c2] 1fr [c3];
  grid-template-rows:[r1] 0.5fr [r2] 1fr [r3] ;
}
.project-header{
  /* background: red; */
  grid-column: c1/c3;
  grid-row: r1;
}
.project-description{
  grid-column: c1/c3;
  grid-row: r2;
}
.project-gallery{
  grid-column: c1/c3;
  grid-row: r3;
}
.column{
  width:33%;
  height: 20vh;
  overflow: hidden;
}
