.content{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.workImg{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.logo img{
  height: 5em;
}
.header-separator{
  background: white;
  height:6em;
}
a.menu{
  margin-top: 0.7em;
}
.topnav{
  height: 100%;
  width: 100vw;
}
#header{
  background: white;
}
.topnav a:not(:first-child) {
  display: none;
}
.topnav a.icon {
    margin-top: 1.25em;
    margin-right: 1.5em;
    float: right;
    display: block;
    color: var(--CR-red);
    padding: 3px;
    border-radius: 6px;
  }
.topnav.responsive {
}
.topnav.responsive .icon {
      color: white;
      background-color: var(--CR-red);
      padding: 3px;
      border-radius: 6px;
    }
.topnav.responsive a.menu {
      display: block;
      position: relative;
      /* left:2.5em; */
      padding-right: 1em;
  	  width:100vw;
      text-align: right;
      border-radius: 0;
      margin-top: 0;
      margin-left: 100em;
      background-color: var(--CR-black);
      color: white;
    }

.about1{
      background-position: 0 17vw;
      height: 30vw;
      padding-top: 12vh;
    }

.about5{
  background-position: 10vw 80vw;
}
.contact{
  padding-top: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
#mapDiv{
  width: 60vw;
  height: 60vw;
  border-radius: 15px;
  position: relative;
  top:-20vw;
  left:20vw;
}
.contact-info{
  top:2em;
  padding-left: 0;
  text-align: center;
  width: 100vw;
  height: 35vw;
}
